doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
  body
    
    include navbar
    
    div(class="uk-container uk-margin-top")
      block content
    
    script(src="/js/main.js")
