doctype html
html

  block variables

  head
    - var title = title || "Express App"
    title= title 
    link(rel='stylesheet', href='/css/main.css')
  body
    
    include navbar
    
    div.uk-container.uk-margin-top
      block content
    
    script(src="/js/main.js")
