div.uk-navbar-container
  div.uk-container
    nav.uk-navbar
      div.uk-navbar-left
        a.uk-navbar-item.uk-logo(href="/") Logo
      div.uk-navbar-right
        ul.uk-navbar-nav
          if !auth_user
            li
              a(href="/login") Login
            li
              a(href="/register") Register
          else
            li
              a(href="/logout") Logout
      